// Chiaki's identity is independent of Maomao's.
NOKO_BUNDLE_ID = com.shiikatan.nokocord.chiaki
NOKO_APPLE_VERSION = 1.3.5
NOKO_BUILD_NUMBER = 7
NOKO_EDITION_ID = chiaki
NOKO_EDITION_NAME = Chiaki
NOKO_PUBLIC_VERSION = C1.3.5
NOKO_MAINTAINER = Millx
NOKO_DEPLOYMENT_TARGET = 26.0
MACOSX_DEPLOYMENT_TARGET = $(NOKO_DEPLOYMENT_TARGET)
